.portfolio {
	&__projects {
		display: grid;
		grid-template-columns: repeat(3, minmax(250px, 1fr));
		gap: 2em;

		&-item {
			position: relative;
			overflow: hidden;
			border-radius: 15px;
			transition: all 0.5s;

			&-img {
				opacity: 0.9;
				height: 600px;
				object-fit: cover;
				border-radius: 15px;
			}

			&:hover {
				scale: 1.05;
			}

			&:hover &-layer {
				visibility: visible;
				opacity: 1;
				height: 100%;
			}

			&-layer {
				position: absolute;
				left: 0;
				bottom: 0;
				overflow: hidden;
				width: 100%;
				height: 100%;
				padding: 1em;
				display: flex;
				flex-direction: column;
				gap: 0.7em;
				justify-content: center;
				align-items: center;
				text-align: center;
				color: #f2f2f2;
				backdrop-filter: blur(5px);
				background: linear-gradient(
					rgba(0, 0, 0, 0.7),
					rgb(110, 222, 245, 0.8),
					rgb(105, 156, 243, 0.85),
					rgb(100, 91, 240, 0.9)
				);
				border-radius: 15px;
				opacity: 0;
				visibility: hidden;
				transition: all 0.5s;

				& h3 {
					font-size: 2.5rem;
					font-weight: 700;
				}

				& p {
					font-weight: 600;
					margin-bottom: 0.5em;
				}

				& a {
					padding: 1.1em;
					color: rgb(105, 156, 243);
					background-color: #f2f2f2;
					border-radius: 50%;
					transition: all 0.3s;

					&:hover {
						scale: 1.2;
					}
				}
			}
		}
	}
}

@media (width <= 992px) {
	.portfolio {
		&__projects {
			grid-template-columns: repeat(2, 1fr);
			gap: 1em;

			&-item {
				&-img {
					width: 100%;
					opacity: 0.9;
					height: 450px;
				}
			}
		}
	}
}

@media (width <= 620px) {
	.portfolio {
		&__projects {
			display: grid;
			place-content: center;
			grid-template-columns: 1fr;
			margin-inline: 1em;
		}
	}
}

@media (hover: none) {
	.portfolio {
		&__projects {
			&-item {
				&-layer {
					opacity: 1;
					visibility: visible;
					height: 100%;

				}
			}
		}
	}
}
