.about {
	height: fit-content;
	&__content {
		display: flex;
		gap: 1.5em;

		&-img {
			max-height: 465px;
			border-radius: 12px;
		}

		&-info {
			text-align: justify;

			&-data {
				display: flex;
				flex-wrap: wrap;
				column-gap: 1.5em;

				&-btn {
					padding: 0.5em;
					font-size: clamp(1.5rem, 1rem + 1.636vw, 2.4rem);
					font-weight: 530;
					border: none;
					background: transparent;
					color: #f2f2f2;
					cursor: pointer;

					&:first-of-type {
						padding-left: 0;
					}

					&::after {
						content: '';
						display: block;
						height: 3px;
						width: 0px;
						background-image: var(--primary-color);
						transition: all 0.3s;
					}

					&:hover::after {
						width: 100%;
					}
				}
			}

			&-list {
				display: flex;
				flex-direction: column;
				gap: 0.1em;

				&-item {
					&:nth-of-type(odd) {
						margin-top: 0.9em;
						background: var(--primary-color);
						background-clip: text;
						-webkit-background-clip: text;
						color: transparent;
						font-weight: bold;
					}

					&:first-of-type {
						margin-top: 0.2em;
					}
				}
			}
		}
	}
}

.data-active {
	&::after {
		content: '';
		display: block;
		height: 3px;
		width: 100%;
		background-image: var(--primary-color);
		transition: all 0.3s;
	}
}

// SCROLL ANIMATIONS

.about__content-img,
.about__content-info {
	opacity: 0;
}
.about.in-view{
	.about__content-img {
		animation: fade-in 1.2s forwards;
	}

	.about__content-info {
		animation: slide-from-right 1.2s forwards;
	}
}

.about.out-view{
	.about__content-img {
		animation: fade-out 1.2s forwards;
	}

	.about__content-info {
		animation: slide-to-right 1.2s forwards;
	}
}

@media (width <= 1200px) {
	.about__content-info-data-btn  {
		padding-left: 0;
	}
}


@media (width <= 968px) {
	.about {
		&__content {
			display: flex;
			gap: 1.5em;

			&-img {
				display: none;
			}

			&-info {
				text-align: justify;

				&-data {
					display: flex;
					gap: 1.5em;
					// margin-top: 0.2em;

					&-btn {
						padding: 0.5em;
						font-size: 2.4rem;
						font-weight: 530;
						border: none;
						background: transparent;
						color: #f2f2f2;
						cursor: pointer;

						&:first-of-type {
							padding-left: 0;
						}

						&::after {
							content: '';
							display: block;
							height: 3px;
							width: 0px;
							background-image: var(--primary-color);
							transition: all 0.3s;
						}

						&:hover::after {
							width: 100%;
						}
					}
				}

				&-list {
					display: flex;
					flex-direction: column;
					gap: 0.1em;

					&-item {
						&:nth-of-type(odd) {
							margin-top: 0.9em;
							background: var(--primary-color);
							background-clip: text;
							-webkit-background-clip: text;
							color: transparent;
							font-weight: bold;
						}

						&:first-of-type {
							margin-top: 0.2em;
						}
					}
				}
			}
		}
	}
	.data-active {
		&::after {
			content: '';
			display: block;
			height: 3px;
			width: 100%;
			background-image: var(--primary-color);
			transition: all 0.3s;
		}
	}
}

@media (width <= 700px) {
	.about {
		height: fit-content;
		&__content {
			font-size: 1.6rem;

			&-info {
				&-data {
					gap: 0.5em;
					&-btn {
						font-size: 1.8rem;
					}
				}
			}
		}
	}
}

@media (width <= 480px) {
	.about {
		&__content {
			&-info {
				&-data {
					&-btn {
						font-size: 1.8rem;
						padding-left: 0;
					}
				}
			}
		}
	}
}
