.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1em;

	&__text {
		animation: slideIn 1s forwards;
		font-size: 3rem;
		&-info {
			margin-top: 0.3em;
			font-size: 2.2rem;
			margin-bottom: 1.8em;
		}

		&-btn {
			font-size: 2.2rem;
		}
	}
	&__image {
		opacity: 0;
		animation: slide-from-right 1s forwards;
		height: 820px;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(-30%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@media (width <= 1200px) {
	.header {
		margin-inline: 2em 1em;
	}
}

@media (width <= 992px) {
	.header {
		margin-inline: 1em;
		text-align: center;
		justify-content: center;
		margin-top: 5em;

		&__image {
			display: none;
		}
	}
}

@media (width <= 700px) {
	.header {
		&__text {
			&-title {
				font-size: 5rem;
			}
		}
	}
}

@media (width <= 480px) {
	.header {
		&__text {
			&-title {
				font-size: 4.5rem;
			}
		}
	}
}

@media (width <= 400px) {
	.header {
		&__text {
			&-title {
				font-size: 4rem;
			}

			&-info {
				font-size: 2rem;
			}
		}
	}
}
