.nav-container {
	background-color: rgba(12, 12, 12, 0.9);
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1000;
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__logo {
			padding-block: 0.2em;
			font-size: 3.4rem;
			cursor: pointer;

			&-image {
				width: 5.5em;
				padding: 0.2em;
			}
		}

		&__hamburger {
			display: none;
		}

		&__list {
			display: flex;
			gap: 2.5em;

			&-item {
				&-link {
					padding-block: 1.2em;
					font-size: 2rem;
					font-weight: 500;
					cursor: pointer;

					&.active {
						position: relative;
						font-weight: bold;
						background: var(--primary-color);
						background-clip: text;
						-webkit-background-clip: text;
						color: transparent;
						font-size: 2.2rem;
					}
				}
			}
		}
	}
}

@media (width <= 1200px) {
	.nav {
		position: relative;
		margin-inline: 1em;
	}
}

@media screen and (max-width: 992px) {
	.nav-container {
		.nav {
			&__hamburger {
				position: relative;
				display: flex;
				padding: 1.5em 1em;
				cursor: pointer;

				&-line {
					position: absolute;
					right: 10px;
					width: 40px;
					height: 5px;
					background-color: #fff;
					margin: 5px 0;
					border-radius: 1em;
					transition: all .3s, visibility 0s;

					&:nth-child(1) {
						top: 8px;
					}
					&:nth-child(2) {
						top: 18px;
					}
					&:nth-child(3) {
						top: 28px;
					}
				}

				&.open {
					.nav__hamburger-line {
						&:nth-child(1) {
							transform: translateY(10px) rotate(45deg);
						}
						&:nth-child(2) {
							visibility: hidden;
						}
						&:nth-child(3) {
							transform: translateY(-10px) rotate(-45deg);
						}
					}
				}
			}

			&__list {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				flex-direction: column;
				text-align: center;
				background-color: #111111;
				max-height: 0;
				overflow: hidden;
				transition: all 0.3s;

				&.open {
					max-height: 450px;
					padding: 1em 0;
				}

				&-item {
					padding: 0.5em;
				}
			}
		}
	}
}
