.nav-container {
	// background-color: rgb(12, 12, 12);

	.nav {
		position: sticky;
		top: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 1000;

		&__logo {
			padding-block: 0.2em;
			font-size: 3.4rem;

			&-image {
				width: 5.5em;
				padding: 0.2em;
				// box-shadow: inset 0 0 10px 20px rgba(31, 30, 30, 0.6);
			}
		}

		&__list {
			display: flex;
			gap: 2.5em;

			&-item {
				&-link {
					padding-block: 1.2em;
					font-size: 2rem;
					font-weight: 500;

					&.active {
						background: var(--primary-color);
						background-clip: text;
						-webkit-background-clip: text;
						color: transparent;
					}
				}
			}
		}
	}
}
