.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.primary-text,
.primary-text-hover:hover {
	background: var(--primary-color);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	transition: all 0.2s;
}

.primary-btn {
	display: block;
	width: min(18em, 80vw);
	height: 60px;
	margin-inline: auto;
	padding: 2px;
	background-image: var(--primary-color);
	border-radius: 10px;
	color: var(--secondary-color);
	cursor: pointer;

	&:hover {
		color: #f2f2f2;
	}

	& span {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		background: rgb(12, 12, 12);
		border-radius: 10px;
		font-weight: 500;
		transition: all 0.4s;
	}

	&:hover span {
		background: transparent;
	}
}

.section-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-title {
	display: inline-block;
	margin: 2em auto 0.8em;
	text-align: center;
	font-size: 4.2rem;
	font-weight: 400;
	text-align: center;
	border-bottom: 3px solid;
	border-image: var(--primary-color) 1;
	opacity: 0;
}

.section-container.in-view {
	.section-title {
		animation: fade-in 1s forwards;
	}
}

.section-container.out-view {
	.section-title {
		animation: fade-out 1s forwards;
	}
}

@media (max-width: 1200px) {
	* {
	  animation: none!important;
	  -webkit-animation: none!important;
	  -moz-animation: none!important;
	  -ms-animation: none!important;
	  -o-animation: none!important;
	  opacity: 1!important;
	}
  }

// KEYFRAMES

@keyframes fade-in {
	from {
		scale: 0.8;
		opacity: 0;
	}
	to {
		scale: 1;
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		scale: 1;
		opacity: 1;
	}
	to {
		scale: 0.8;
		opacity: 0;
	}
}

@keyframes slide-from-right {
	from {
		opacity: 0;
		transform: translateX(100px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-to-right {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(100px);
	}
}

@keyframes slide-from-left {
	from {
		opacity: 0;
		transform: translateX(-100px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-to-left {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(-100px);
	}
}

@keyframes slide-from-bottom {
	from {
		opacity: 0;
		transform: translateY(70px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}