@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: linear-gradient(
		90deg,
		rgb(110, 222, 245) 0%,
		rgb(105, 156, 243) 50%,
		rgb(100, 91, 240) 100%
	);
	--secondary-color: rgb(105, 156, 243);
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body {
	min-height: 100vh;
	background-color: rgb(12, 12, 12);
	color: #dadada;
	font-family: 'Montserrat';
	font-size: 1.8rem;
	line-height: 1.5;
}

// main {
// 	margin-bottom: 5em;
// }

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #f2f2f2;
}
